<div class="container d-flex align-items-center justify-content-center error-container">
    <div class="text-center">

        <!-- Imagen -->
        <img src="https://cdn-icons-png.flaticon.com/512/564/564619.png"
             alt="Error"
             class="img-fluid error-image mb-4" width="175" height="150">

        <!-- Título -->
        <h1 class="display-5 fw-bold text-white">¡Ups! Algo salió mal</h1>

        <!-- Mensaje -->
        <p class="lead mb-4 text-white">
            Se presentó un error en el sistema.
            Por favor intenta nuevamente más tarde.
        </p>

        <!-- Botón regresar -->
        <button class="btn btn-primary px-4">Regresar
        </button>

    </div>
</div>