@model Usuario
@{
    Layout = "_LayoutExterno";
}

<div class="col-lg-3 col-12"></div>
<div class="col-lg-6 col-12">

    <div class="col-lg-12 col-12 text-center">
        <h3 class="mb-4 pb-2">Iniciar de Sesión</h3>
    </div>

    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-danger text-center text-black">
            @ViewBag.Mensaje
        </div>
    }

    <form id="formLogin" asp-controller="Home" asp-action="Login" class="custom-form contact-form" role="form">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="form-floating">
                    <input type="text" asp-for="CorreoElectronico" class="form-control" placeholder="Name" required="">
                    <label for="floatingInput">Correo Electrónico</label>
                </div>
            </div>

            <div class="col-lg-12 col-12">
                <div class="form-floating">
                    <input type="password" asp-for="Contrasenna" class="form-control" placeholder="Name" required="">
                    <label for="floatingInput">Contraseña</label>
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <button type="submit" class="form-control">Procesar</button>
            </div>

            <div class="col-12 text-center mt-4">
                <a asp-action="RecuperarAcceso" asp-controller="Home" class="btn custom-btn custom-border-btn ms-3 text-white">Olvidó su contraseña?</a>
            </div>
            <div class="col-12 text-center mt-2">
                <a asp-action="Registro" asp-controller="Home" class="btn custom-btn custom-border-btn ms-3 text-white">Crear una cuenta de usuario</a>
            </div>

        </div>
    </form>
</div>

<script src="~/js/login.js" asp-append-version="true"></script>