@model Usuario
@{
    Layout = "_LayoutExterno";
}

<div class="col-lg-3 col-12"></div>
<div class="col-lg-6 col-12">

    <div class="col-lg-12 col-12 text-center">
        <h3 class="mb-4 pb-2">Recuperar Acceso</h3>
    </div>

    <form asp-controller="Home" asp-action="RecuperarAcceso" class="custom-form contact-form" role="form">
        <div class="row">
 
            <div class="col-lg-12 col-12">
                <div class="form-floating">
                    <input type="text" asp-for="CorreoElectronico" class="form-control" placeholder="Name" required="">
                    <label for="floatingInput">CorreoElectronico</label>
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <button type="submit" class="form-control">Procesar</button>
            </div>

            <div class="col-12 text-center mt-2">
                <a asp-action="Login" asp-controller="Home" class="btn custom-btn custom-border-btn ms-3 text-white">Iniciar Sesión</a>
            </div>

        </div>
    </form>
</div>