@model Seguridad

<div class="col-lg-6 col-12 mx-auto">

    <div class="col-lg-12 col-12 text-center">
        <h3 class="mb-4 pb-2">Cambiar Acceso</h3>
    </div>

    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-danger text-center text-black">
            @ViewBag.Mensaje
        </div>
    }

    <form id="formCambiarAcceso" asp-controller="Seguridad" asp-action="CambiarAcceso" class="custom-form contact-form" role="form">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="form-floating">
                    <input type="password" asp-for="NuevaContrasenna" class="form-control" placeholder="Name" required="">
                        <label for="floatingInput">Nueva Contraseña</label>
                    </div>
                </div>

                <div class="col-lg-12 col-12">
                    <div class="form-floating">
                        <input type="password" asp-for="ConfirmarContrasenna" class="form-control" placeholder="Name" required="">
                            <label for="floatingInput">Confirmar Contraseña</label>
                        </div>
                    </div>

                    <div class="col-lg-5 col-12">
                        <button type="submit" class="form-control">Procesar</button>
                    </div>

                </div>
            </form>
        </div>

        <script src="~/js/cambiarAcceso.js" asp-append-version="true"></script>